.jumbotron{
    background-color : rgb(0, 153, 255);
}


.original_title{
    background-color :rgb(102, 255, 255) ;
    font-size : 20px;
    font-weight : bold;
    padding : 2px;
    display : flex;
    justify-content : center;
}

.summary_title{
    background-color :rgb(102, 255, 102);
    font-size : 20px;
    font-weight : bold;
    padding : 2px;
    display : flex;
    justify-content : center;
}

.pbl{
    display : flex;
    flex-direction : row;
}

.originalText{
    background-color : rgb(204, 255, 255);
    padding : 20px;
}

.summaryText{
    background-color : rgb(204, 255, 153);
    padding : 20px;
    margin-left : 10px;
}